<!DOCTYPE html>
<html>
  <head>
    <title>Identity Provider</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
  <div class="login-container">
    <h1>ログイン</h1>
    <form method="post">
      <input type="hidden" name="scopes" value="openid" />
      <input type="hidden" name="scopes" value="offline" />
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="test@example.com">
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="!Password0">
      </div>
      <button type="submit">ログイン</button>
    </form>
  </div>
</body>
</html>
