<!DOCTYPE html>
<html>
  <head>
    <title>Identity Provider</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1>Login page</h1>
    <p class="error">{{.error}}</p>
    <form method="post">
      <input type="hidden" name="scopes" value="openid" />
      <input type="hidden" name="scopes" value="offline" />
      <input type="text" name="username" value="test@example.com" />
      <input type="password" name="password" value="password" />
      <input type="submit" value="Login" />
    </form>
    <script>
      window.msg = "{{.}}";
    </script>
  </body>
</html>
