<!DOCTYPE html>
<html>
<head>
    <title>Identity Provider</title>
</head>
<body>
  <h1>Login page</h1>
  <p>{{.error}}</p>
  <form method="post">
    <input type="hidden" name="scopes" value="openid" />
    <input type="hidden" name="scopes" value="offline" />
    <input type="text" name="username" value="test@example.com" />
    <input type="password" name="password" value="password" />
    <input type="submit" value="Login">
  </form>
  <script>
    window.msg = "{{.}}";
    console.log(window.msg); // ブラウザのコンソールで確認可能
  </script>
</body>
</html>